<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.generals.mapper.BuskingMapper">
	<sql id="search">
		<if test="type != null">
			<foreach collection="arr" open="and (" close=")" item="type"
				separator=" or ">
				<if test="type eq 't'.toString()">title</if>
				<if test="type eq 'c'.toString()">content</if>
				<if test="type eq 'w'.toString()">id</if>
				like concat('%',#{keyword},'%')
			</foreach>
		</if>
	</sql>

	<insert id="insertBusking">
		insert into tbl_busking (bktitle, bkcontent, rno)
		values (#{bkTitle}, #{bkContent}, #{rno})
	</insert>

	<select id="selectBuskingListByState" resultType="org.generals.domain.BuskingVO">
		select bkno, bktitle, bkcontent, reserve.rno, tbl_busking.regdate, 
			tbl_busking.updatedate, bno, id, reservedate, state, 
			starttime, endtime 
		from tbl_busking 
			inner join (select * from tbl_reserve_list where state = #{state})reserve 
		where tbl_busking.rno = reserve.rno
			order by reservedate desc limit #{skip}, 12	
	</select>

</mapper>