<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.generals.mapper.MemberMapper">
	<insert id="insert" >
		insert into tbl_member (id, name, pw, email)
		values(#{id}, #{name}, #{pw}, #{email})
	</insert>
	
</mapper>